Resources:
  AWSEBRDSDatabase:
    Type: AWS::RDS::DBInstance
    Properties:
      DBName: understate
      DBInstanceClass: db.t3.micro
      DBInstanceIdentifier: understate-db
      Engine: postgres
      EngineVersion: "15"
      MasterUsername: "{{resolve:ssm:/understate/db/username:1}}"
      MasterUserPassword: "{{resolve:ssm:/understate/db/password:1}}"
      AllocatedStorage: "20"
      StorageType: gp2
      MultiAZ: false
      PubliclyAccessible: false
      BackupRetentionPeriod: 7
      DeletionPolicy: Snapshot

option_settings:
  aws:elasticbeanstalk:application:environment:
    RDS_HOSTNAME: '`{"Fn::GetAtt": ["AWSEBRDSDatabase", "Endpoint.Address"]}`'
    RDS_PORT:     '`{"Fn::GetAtt": ["AWSEBRDSDatabase", "Endpoint.Port"]}`'
    RDS_DB_NAME:  understate
